<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"/>
        <style>
        .card {
            break-inside: avoid;
            border: 1px solid;
            margin: 1cm;
            border-color: hsl(171, 100%, 41%);
        }
        .relation {
            break-inside: avoid;
            border: 1px solid;
            margin: 1cm;
            border-color: hsl(171, 100%, 41%);
        }
        </style>
    </head>
    <body>
        {% for card in cards -%}
        <div class="card">
            <h1 class="title has-text-centered has-text-white has-background-primary is-size-1">
                {{ card.id }} - {{ card.title }}
            </h1>
            <div class="columns">
                <div class="column origins">
                    {% for importance, origins in card.relations.origins.items() -%}
                    {% for origin in origins -%}
                    <div class="columns is-gapless is-vcentered">
                        <div class="column">
                            <img src="../images/{{language}}/node_recto_{{ origin }}.jpg"/>
                        </div>
                        <div class="column is-1"></div>
                        <div class="column is-4 is-size-5 has-text-centered">
                            <div>{{ origin }}</div>
                            <div class="icon has-text-{{ color_mapping[importance] }} fa-lg">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    {% endfor -%}
                    {% endfor -%}
                </div>
                <div class="column explanation is-7">
                    <div class="columns">
                        <div class="column"></div>
                        <div class="column is-4">
                            <img class="has-text-centered" src="../images/{{language}}/node_recto_{{ card.id }}.jpg"/>
                        </div>
                        <div class="column"></div>
                        <div class="column is-4">
                            <img class="has-text-centered" src="../images/{{language}}/node_verso_{{ card.id }}.jpg" style="border: 1px solid;"/>
                        </div>
                        <div class="column"></div>
                    </div>
                    <div class="has-text-justified is-size-5">
                        {{ card.more_info | safe }}
                    </div>
                </div>
                <div class="column effects">
                    {% for importance, effects in card.relations.effects.items() -%}
                    {% for effect in effects -%}
                    <div class="columns is-gapless is-vcentered">
                        <div class="column is-4 is-size-5 has-text-centered">
                            <div>{{ effect }}</div>
                            <div class="icon has-text-{{ color_mapping[importance] }} fa-lg">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="column is-1"></div>
                        <div class="column">
                            <img src="../images/{{language}}/node_recto_{{ effect }}.jpg"/>
                        </div>
                    </div>
                    {% endfor -%}
                    {% endfor -%}
                </div>
            </div>
        </div>
        {% endfor -%}
        <div style="page-break-before: always;"></div>
        {% for relation in relations -%}
        <div class="relation">
            <div class="columns">
                <div class="column is-2">
                    <img src="../images/{{language}}/node_recto_{{ relation.from }}.jpg"/>
                    <img src="../images/{{language}}/node_verso_{{ relation.from }}.jpg"/>
                </div>
                <div class="column is-size-5">
                    <div class="has-text-centered" style="padding-top: 1.5em;">
                        <span style="padding: 0.2em;">{{ relation.from }}</span>
                        <span class="icon has-text-{{ color_mapping[relation.relation] }} fa-lg">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span style="padding: 0.2em;">{{ relation.to }}</span>
                    </div>
                    {% if relation.info %}
                    <div class="column has-text-justified is-size-5">
                        <div>{{ relation.info | safe }}</div>
                    </div>
                    {% endif -%}
                </div>
                <div class="column is-2">
                    <img src="../images/{{language}}/node_recto_{{ relation.to }}.jpg"/>
                    <img src="../images/{{language}}/node_verso_{{ relation.to }}.jpg"/>
                </div>
            </div>
        </div>
        {% endfor -%}
    </body>
</html>
